<div>
  <div>
    <div class="info">
      <mat-toolbar>Owner: {{corkboard_details?.owner.first_name}} {{corkboard_details?.owner.last_name}}</mat-toolbar>
      <mat-toolbar>Title: {{corkboard_details?.stat.title}}</mat-toolbar>
      <mat-toolbar>Category: {{corkboard_details?.stat.category}}</mat-toolbar>
      <mat-toolbar>{{corkboard_details?.stat.date}}</mat-toolbar>
    </div>
    <div *ngIf="canFollow" class="follow">
      <mat-button-toggle value="follow" (click)="followCorkboard()">
        Follow
      </mat-button-toggle>
    </div>
    <div *ngIf="canWatch" class="watch">
      <mat-button-toggle value="watch" (click)="watchCorkboard()">
        Watch
      </mat-button-toggle>
    </div>
    <div *ngIf="canAdd" class="add">
      <button mat-button (click)="addPushpin()">Add Pushpin</button>
    </div>
  </div>

  

  <div *ngFor="let pushpin of pushpins">
      <img (click)="navigateToPushPin(pushpin.pushpin_id)" mat-card-image src={{pushpin.url}} alt="Pushpin Photo">
  </div>

</div>
