<div>
    <div>
        <div>
            {{cb.title}}
            <mat-button-toggle (click)="followCorkboard()" value="follow">
                    Follow
            </mat-button-toggle>
            {{cb.category}}
            <br>
            Last Updated {{cb.date_time}}
        </div>
        <div>
            {{fakeCd}}
            <br>
            <br>
            <button mat-button (click)="addPushpin()">Add Pushpin</button>
        </div>
    </div>
    <div *ngFor="let i of pushpins">
        <img src={{i}}>
    </div>
    <div>
        This Corkboard Has {{fakeCd}} watchers
        <mat-button-toggle (click)="watchCorkboard()" value="watch">
                Watch
        </mat-button-toggle>
    </div>
  </div>