<h1 mat-dialog-title>Add CorkBoard</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Title"  [formControl]="title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Category" [formControl]="category">
        <mat-option *ngFor="let c of categories" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select placeholder="Visbility" [formControl]="visibility" (change)=disablePassword()>
          <mat-option value="true" (click)="public = true">Public</mat-option>
          <mat-option value="false" (click)="public = false">Private</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="password" [disabled]="!public"> 
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="addCorkBoard()">Add</button>
</div>
