.mat-column {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.highlight {
  color: red;
}

.mat-table {
  width: 100%;
}
.mat-header-cell {
  width: 100%;
  padding:10px;
}
.mat-row {
  width: 100%;
}