<h1>CorkBoard Statistics</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- User Column -->
  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td [ngClass]="{'highlight': isCurrentUser(stat)}" mat-cell *matCellDef="let stat"> {{stat.first_name}} {{stat.last_name}} </td>
  </ng-container>

  <!-- Public CorkBoard Column -->
  <ng-container matColumnDef="public_cb">
    <th mat-header-cell *matHeaderCellDef > Public CorkBoards </th>
    <td mat-cell *matCellDef="let stat"> {{stat.public_cb}} </td>
  </ng-container>

  <!-- Public PushPins Column -->
  <ng-container matColumnDef="pub_pushpins">
    <th mat-header-cell *matHeaderCellDef>   Public PushPins  </th>
    <td mat-cell *matCellDef="let stat"> {{stat.pub_pushpins}} </td>
  </ng-container>

  <!-- Private CorkBoards Column  -->
  <ng-container matColumnDef="private_cb">
    <th mat-header-cell *matHeaderCellDef> Private CorkBoards </th>
    <td mat-cell *matCellDef="let stat"> {{stat.private_cb}} </td>
  </ng-container>

  <!-- Private PushPins Column -->
  <ng-container matColumnDef="private_pushpins">
    <th mat-header-cell *matHeaderCellDef> Private PushPins </th>
    <td mat-cell *matCellDef="let stat"> {{stat.private_pushpins}} </td>
  </ng-container>

  <tr mat-header-row class="pre" *matHeaderRowDef="cb_stats_displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: cb_stats_displayedColumns;" (click)="logRow(row)" id="{{row.first_name}}_{{row.last_name}}"></tr>

</table>
