<mat-toolbar>Welcome {{current_user.first_name}} {{current_user.last_name}}</mat-toolbar>

<button mat-flat-button color="primary" (click)="getPopularTags()">Popular Tags</button>
<button mat-flat-button color="primary" (click)="getPopularSites()">Popular Sites</button>
<button mat-flat-button color="primary" (click)="getCorkBoardStats()">Corkboard Statistics</button>
<button mat-flat-button color="primary" (click)="addCorkBoard()">Add CorkBoard</button>

<h3>Recent CorkBoards</h3>
<li *ngFor="let corkboard of recent_corkboards">
    <app-corkboard-tile [corkboard]="corkboard"></app-corkboard-tile>
</li>
  
<h3>My CorkBoards</h3>
<li *ngFor="let corkboard of owned_corkboards">
    <app-corkboard-tile [corkboard]="corkboard"></app-corkboard-tile>
</li>
  
<form>
  <mat-form-field>
    <input matInput placeholder="Search description, tags, and CorkBoard category" [formControl]="search_text" name="search_text" >
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="getPushPinSearchResults()">PushPin Search</button>
</form>
