<div class="container">
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{owner?.first_name}} {{owner?.last_name}}</mat-card-title>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>Pinned {{date}} on <a routerLink="/viewcorkboard/{{corkboard_id}}" routerLinkActive="active">{{title}}</a></mat-card-subtitle>
        <mat-card-subtitle>from {{domainName}}</mat-card-subtitle>
      </mat-card-header>
      <a href="{{http}}//{{website}}"><img src={{url}}></a>
      <mat-card-actions>
          <button mat-flat-button [disabled]="follow_btn_disable" color="primary" (click)="followUser()">FOLLOW</button>
          <button mat-flat-button [disabled]="like_btn_disable" color="primary" (click)="likeUnlikePushpin()">{{like_btn_txt}}</button>
      </mat-card-actions>
  </mat-card>
  
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{description}}</mat-card-title>
        <mat-card-subtitle>
            <p>Tags:</p>
              <mat-chip-list *ngFor="let tag of tagsList">
                  <mat-chip>{{tag}}</mat-chip>
                </mat-chip-list>
          </mat-card-subtitle>
        <mat-card-subtitle>Likers: {{likers}}<a routerLink="/viewcorkboard/{{corkboard_id}}" routerLinkActive="active">{{title}}</a></mat-card-subtitle>
      </mat-card-header>
  </mat-card>

  <div>
    <mat-form-field>
      <textarea matInput placeholder="Enter a comment" matTextareaAutosize="200" [formControl]="comment_text" name="comment_text"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="postComment()">Post Comment</button>

    <table mat-table [dataSource]="tableDS">

      <ng-container matColumnDef="user_commenter">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let result"> {{result.commenter}}</td>
      </ng-container>

      <ng-container matColumnDef="user_comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let result"> {{result.comment}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="pushpin_displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: pushpin_displayedColumns;"></tr>
    </table>
  </div>
</div>
